@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');




.main{
    padding: 0;
    margin: 0;
}

.top{
    height: 150px;
    background-color: #313639;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
    font-family: 'Boogaloo', cursive;
    font-size: 30px;
    color: #ffa567;
    border-radius: 15px;
    
}

.score{
    padding-top: 100px;
}

.info{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 60px;
    
}

.game{
    padding-right: 100px;
}

.lvlAndTimer{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 30px;
}

.center{

    font-family: 'Boogaloo', cursive;
    font-size: 30px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 15px;
    color:#313639;

}


.btn-start{
    background-color: #ffa567; /* Green */
    border: none;
    height: 50px;
    width: 500px;
    color: white;
    border-radius: 10px 0px 0px 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-family: 'Boogaloo', cursive;
    font-size: 30px;
    
}

.ranking{
    font-family: 'Boogaloo', cursive;
    font-size: 30px;
    background-color: #ffe4e1;
    height: 50px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 15px;
    text-align: center;
    
}

.userSc{
   display: flex; 
   flex-direction: column;
}

.userSx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.btn-rank{
    background-color: #c9daea;
    font-family: 'Boogaloo', cursive;
    border-radius: 7px;
    border: none;
    font-size: 30px;
    padding: 10px;

}


.q{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 10px;

    
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hide{
    display: none;
}

.store{
    background-color: #ffc0cb;
    border-radius: 10px;
    font-size: 25px;

    padding: 10px;
}


.q:hover{

    /* transition:.3s; */
    transition: all .3s ease-in-out; 
    transform:scale(1.1);
    
    /* cursor:pointer; */
    /* border-radius: 9px; */
    }


/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  @keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  .hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
.noHover{
    pointer-events: none;
}
